<body class="text-white">
    <main class="mb-3 mb-md-5">
      <section id="description-section" class="">
        <div class="container py-5">
          <div class="row justify-content-center gap-3 gap-md-0">
            <div
              class="col-7 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center justify-content-lg-start align-items-center"
            >
              <img
                src=""
                alt="movie image"
                id="profile-image"
                class="w-100 h-auto border border-3 border-warning rounded rounded-3"
              />
            </div>
            <div
              class="col-10 col-sm-8 d-flex flex-column gap-1 gap-md-3 justify-content-center fw-light"
            >
              <h2 id="movie-title" class="fs-2 fw-bold"></h2>
              <div class="d-flex gap-5 fs-5">
                <p>.135 min</p>
                <p>vote: <span id="vote"></span></p>
              </div>
              <p id="genre" class="fs-5"></p>
              <div class="">
                <h3 class="fs-3">Overview</h3>
                <p id="overview" class="fs-5 lh-base">
                  <!-- This content will be generated dynamically using javascript by fetching-->
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="container my-3 my-md-5">
        <h2 class="">Recommendations</h2>
        <ul id="recommendations" class="py-3 d-flex gap-3 overflow-auto">
          <!--<li>
           
            This content will be generated dynamically using javascript 
          
            <a href="/description.html">
             ] <img src="" alt="">
                <div class="movie-card-title">
                  <h2>Movie Title</h2>
                  <p>VOTE</p>
                </div>
            </a>
          </li>-->
        </ul>
      </section>
    </main>
  </body>
