<body class="text-white">
    <main class="my-3 my-md-5">
      <section class="container mb-5">
        <form
          id="search-form"
          class="mx-auto d-flex flex-sm-row align-item-center"
        >
          <input
            type="text"
            name=""
            id="search"
            placeholder="Search for movie"
            class="rounded-0 rounded-start form-control w-75 fs-6 fw-normal p-2 p-sm-3 border-0 inp"
          />
          <button
            type="submit"
            aria-label="Search for movie by title"
            class="btn btn-outline-warning border-3 px-2 px-sm-3 px-md-5 rounded-0 rounded-end fw-normal fs-6"
          >
            Search
          </button>
        </form>
      </section>
      <section class="container">
        <header>
          <h1 class="fw-light fs-5 px-2">
            Showing results for
            <span id="search-value" class="yellow fw-bold"></span>
          </h1>
        </header>
        <ul id="search-movies" class="row py-4 px-0">
          <!--<li>
           
            This content will be generated dynamically using javascript 
          
            <a href="/description.html">
             ] <img src="" alt="">
                <div class="movie-card-title">
                  <h2>Movie Title</h2>
                  <p>VOTE</p>
                </div>
            </a>
          </li>-->
        </ul>

        <div class="container py-3 d-flex justify-content-center">
          <button
            aria-label="Load more search lists"
            id="load-more"
            class="btn btn-large btn-outline-warning border-3"
          >
            Load More
          </button>
        </div>
      </section>
    </main>
    
</body>

