<body class="text-white">
    <main class="py-3 py-md-5 about-bg-image">
      <section class="container">
        <div class="row justify-content-end">
          <h2 class="col-12 fw-bold fs-1 mb-3">Movie Watch</h2>
          <div class="col-12 col-md-11 lh-lg fs-5 fw-light text-justify">
            <p>
              Movie Watch best suits people looking for detailed information
              about what’s really in popular movie lists, daily and weekly
              trending movie lists, official trailers, ratings, overviews, and
              many more. Movie Watch provides user-friendly features, sections
              of movies, clean and aesthetically pleasing graphics, and a lot of
              other delights.
            </p>
            <p>
              This platform helps users seeking out movie overviews to have some
              idea of what a movie is going to be like, ratings for a movie they
              are about to watch, official trailers, popular and trending
              movies, and descriptions and recommendations. Movie Watch is
              structured in a manner that helps users explore efficiently.
            </p>
          </div>
          <section class="col-12 col-md-11 my-5">
            <h3 class="fw-bold">About in audio</h3>
            <audio controls>
              <source src="./audios/audio.mp3" type="audio/mp3" />
              <p>Your browser doesn't support HTML audio.</p>
            </audio>
          </section>

          <section
            class="col-12 col-md-11 d-flex align-items-center justify-content-center"
          >
            <video controls width="960" height="auto" class="w-100">
              <source src="./videos/vid.mp4" type="video/mp4" />
              <track
                src="./videos/track.vtt"
                kind="subtitles"
                srclang="en"
                label="English"
                default
              />
              <p>Your browser doesn't support HTML audio.</p>
            </video>
          </section>
        </div>
      </section>
      <section class="container mt-5">
        <h2 class="fw-bold my-4 fs-1 text-center">Features</h2>
        <ul class="row p-0 m-0 justify-content-around">
          <li
            class="col-6 col-md-4 d-flex flex-column gap-2 justify-content-center align-items-center"
          >
            <img
              src="../../assets/images/user-friendly.svg"
              alt="Icon representing user friendly"
              width="50"
              height="50"
            />
            <h3 class="fs-4 yellow fw-bold text-center">User Friendly</h3>
            <p class="fs-5 text-center p-lg-3">
              Provides easy to use and intiutive layouts.
            </p>
          </li>
          <li
            class="col-6 col-md-4 d-flex flex-column gap-2 justify-content-center align-items-center"
          >
            <img
              src="../../assets/images/broom.png"
              alt="Icon representing clean"
              width="50"
              height="50"
            />
            <h3 class="fs-4 yellow fw-bold text-center">Clean</h3>
            <p class="fs-5 text-center p-lg-3">
              Every page contains concise and relevant information.
            </p>
          </li>
          <li
            class="col-6 col-md-4 d-flex flex-column gap-2 justify-content-center align-items-center"
          >
            <img
              src="../../assets/images/aesthetic.png"
              alt="Icon representing aesthetic"
              width="50"
              height="50"
            />
            <h3 class="fs-4 yellow fw-bold text-center">Aesthetic</h3>
            <p class="fs-5 text-center p-lg-3">
              Offers catchy and visually appealing layouts.
            </p>
          </li>
          <li
            class="col-6 col-md-4 d-flex flex-column gap-2 justify-content-center align-items-center"
          >
            <img
              src="../../assets/images/category.svg"
              alt="Icon representing catagorized"
              width="50"
              height="50"
            />
            <h3 class="fs-4 yellow fw-bold text-center">Categorized</h3>
            <p class="fs-5 text-center p-lg-3">
              Each movie is catagorized under popular, trending and upcoming.
            </p>
          </li>
        </ul>
      </section>
    </main>
  </body>
  

